.c-heading {
    font-size: 20px;
    color: gray;
    letter-spacing: 3px;
}

.c-subheading {
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
    letter-spacing: 0.5px;
}

.input-wrap {
    padding: 10px 0;
    width: 100%;
}

.input-wrap input, .input-wrap textarea {
    width: 93%;
    padding: 16px 10px;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
    background-color: transparent;
    border: 1px solid darkgrey;
    border-radius: 9px;
    letter-spacing: 1px;
    font-family: 'SemiBold';
}

.form-wrap button {
    padding: 16px 30px;
    border: 1px solid darkgray;
    font-size: 17px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'SemiBold';
    background-color: #494952;
    color: yellowgreen;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
}

.form-wrap {
    width: 50%;
    display: inline-block;
    padding: 16px 0 0;
    float: left;
}

.address-wrap {
    width: 38%;
    padding-left: 10px;
    display: inline-block;
    padding: 16px 0;
    float: right;
    padding-left: 5%;
    border-left: 1px dotted gray;
}

.address-wrap .type {
    padding: 10px 0;
    width: 100%;
}

.address-wrap .type-content {
    background-color: transparent;
    border-radius: 9px;
    width: 85%;
    margin-left: 5%;
    display: inline-block;
    float: left;
}

.type-head {
    font-size: 18px;
    font-family: 'SemiBold';
    letter-spacing: 0.5px;
}

.type-desc {
    font-size: 16px;
    font-family: 'Regular';
    letter-spacing: 0.5px;
    padding: 5px 0;
}

.type-icon {
    line-height: 50px;
    width: 8%;
    display: inline-block;
    float: left;
}

@media (max-width: 480px) {
    .form-wrap {
        width: 100%;
    }
    .address-wrap {
        width: 100%;
        border: unset;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .form-wrap {
        width: 100%;
    }
    .address-wrap {
        width: 100%;
        border: unset;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .form-wrap {
        width: 100%;
    }
    .address-wrap {
        width: 100%;
        border: unset;
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .form-wrap {
        width: 100%;
    }
    .address-wrap {
        width: 100%;
        border: unset;
        margin-top: 20px;
    }
}